{% extends "layout.html" %}

{% block beforeContent %}
{% include "includes/breadcrumb_logs.html" %}
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <h1 class="govuk-heading-xl">
        Read a foster child's logs<br /><span style="text-transform: capitalize;">{{ data['childName'] }}</span>
    </h1>

{% for item in logs %}
{% if item.answers.length %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p>{{ item.created_at }}</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
    {% for event in item.answers %}
    <h3 class="govuk-heading-m">{{ event.heading }}</h3>

    <table class="govuk-table">
      {% for question in event.questions %}
      <tr class="govuk-table__row"></tr>
      <th style="width:40%;text-align: left;">{{ question.label }}</th>
      <td class="govuk-table__cell" style="width:60%">{{ question.human_value }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endfor %}

    
  </div>
</div>
{% endif %}
{% endfor %}

</div>
{% endblock %}